<div class="header">
    <h2>
        <span style="color: blue;">G</span>
        <span style="color: red;">o</span>
        <span style="color: black;">o</span>
        <span style="color: blue;">g</span>
        <span style="color: green;">l</span>
        <span style="color: red;">e </span>
        <span style="color: gray;">Convert</span>
    </h2>
</div>

<form class="content" #heroForm="ngForm">
    <div class="contenttype">
        <div class="inputType">
            <div class="lbText">Phát hiện kiểu dữ liệu</div>
            <div class="chooseDataType">
                <select id="converts" [(ngModel)]="inputType" name="name" (ngModelChange)="changeInType($event)"> 
                    <option *ngFor="let val of type" [value]="val.code">{{val.name}}</option>
                </select>
            </div>
        </div>
        <div class="Xchange">
            <img src="../../assets/Exchange.png" alt="" (click)="clickChangeType()" class ="imageConvert">
        </div>
        <div class="outputType">
            <div class="lbText">Kiểu dữ liệu cần chuyển</div>
            <div class="chooseDataType">
                <select id="converts" [(ngModel)]="outputType" name="name1" (ngModelChange)="changeOutType($event)">
                    <option *ngFor="let val of type" [value]="val.code">{{val.name}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="contentvalue">
        <div class="textBox small">
            <div class="subbox">
                <div class="subContent">
                    <textarea class="invalue" rows="4" id="code_textarea" [(ngModel)]="inputValue" name="name2" required (ngModelChange)="ChangeInput($event)"> 

                    </textarea>
                    <button class="remove" *ngIf="hidden" (click)="removeValue()">X</button>
                </div>
                <p for="">{{countInputValue}}/5.000</p>
            </div>

        </div>
        <div class="textBox">
            <div class="subbox">
                <div class="subContent">
                    <textarea class="outvalue" rows="4" [(ngModel)]="outputValue" name="name3" placeholder="Bản Convert" required>

                    </textarea>
                    <img *ngIf="hidden" src="../../assets/SaveConvert.PNG" alt="">
                </div>

            </div>
        </div>
    </div>
</form>


<div class="footer">

</div>